$font-family: 'Roboto', sans-serif;

$assets-root: 'assets/';
$images-root: $assets-root + 'img/';
$fonts-root: $assets-root + 'fonts';

$default-animation-duration: .25s;
$default-animation-style: ease-out;

$font-thin: 100;
$font-light: 300;
$font-normal: 400;
$font-bolder: 500;
$font-bold: 700;
$font-ultrabold: 900;

$outer-margin: 2.5rem;
$gutter-width: 1rem;

