.full-width {
  width: 100%;
}

.spacer {
  margin-top: 16px;
}

.impressum * {
  font-family: 'Roboto';
}

.hasFooter {
  min-height: calc(100vh - 144px);

  @media (max-width: 600px) {
    min-height: calc(100vh - 128px);
  }
}
