<div class="spacer container-fluid">
  <mat-progress-bar *ngIf="showLoading" mode="indeterminate"></mat-progress-bar>
  <mat-card class="search-card">
    <mat-card-content>
      <mat-icon>search</mat-icon>
      <mat-form-field class="full-width" floatPlaceholder="never">
        <input matInput placeholder="Search for swag" [(ngModel)]="searchModel" (keyup.enter)="handleSearchRequest(searchModel)">
      </mat-form-field>
      <button (click)="handleSearchRequest(searchModel)" mat-button color="primary">
        <mat-icon>send</mat-icon>
      </button>
    </mat-card-content>
  </mat-card>
  <div class="results">

    <mat-table #table [dataSource]="dataSource">

      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.name}} </mat-cell>
      </ng-container>

      <!-- Type Column -->
      <ng-container matColumnDef="type">
        <mat-header-cell *matHeaderCellDef> Type </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.type}}</mat-cell>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="trend">
        <mat-header-cell *matHeaderCellDef> Trend </mat-header-cell>
        <mat-cell *matCellDef="let row">
          <img *ngIf="row.trend < 0" class="trend-icon" src="assets/images/trend_bin_unknown.png">
          <img *ngIf="row.trend >= 0 && row.trend <= 3" class="trend-icon" src="assets/images/trend_bin_1.png">
          <img *ngIf="row.trend >= 0 && row.trend <= 2.5" class="trend-icon" src="assets/images/trend_bin_1.png">
          <img *ngIf="row.trend >= 0 && row.trend < 2" class="trend-icon" src="assets/images/trend_bin_1.png">
          <img *ngIf="row.trend > 3" class="trend-icon" src="assets/images/trend_bin_5.png">
          <img *ngIf="row.trend > 5" class="trend-icon" src="assets/images/trend_bin_5.png">
          <img *ngIf="row.trend > 6" class="trend-icon" src="assets/images/trend_bin_5.png">
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row [ngClass]="{'loading': showLoading}" (click)="openUrl(row.url)" *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>

    <mat-paginator #paginator [length]="data.length" [pageIndex]="0" [pageSize]="25" [pageSizeOptions]="[5, 10, 25, 100]">
    </mat-paginator>

  </div>
</div>
