.full-width {
  width: 100%;
}

.spacer {
  margin-top: 16px;
}

.hasFooter {
  min-height: calc(100vh - 144px);
  @media (max-width: 600px) {
    min-height: calc(100vh - 128px);
  }
}

.trend-icon {
  height: 36px;
}

.loading {
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}

mat-card {
  &.search-card {
    padding: 0 24px;
    .mat-card-content {
      .mat-icon {
        margin-right: 16px;
      }
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }
  }
}
