<div class="container">
  <mat-toolbar color="primary">
    <div class="icon-wrapper">
      <img src="assets/images/logo.png">
    </div>
    <span>SwagHub</span>
    <!-- <div class="tabs">
      <button routerLink="/" mat-button><mat-icon>search</mat-icon><span>Search</span></button>
    </div> -->

  </mat-toolbar>
  <router-outlet></router-outlet>
</div>
