nga-app {
  background-color: #dddddd;
  mat-toolbar {
    .mat-toolbar-row {
      justify-content: center;
      span {
        font-size: 1.85em;
      }
    }
    .icon-wrapper {
      height: 100%;
      padding: 8px;
      img {
        height: 100%;
      }
    }

    .tabs, .mat-button {
      height: 100%;
    }
  }
  .footer {
    .mat-toolbar-row {
      display: flex;
      flex-direction: row;
      flex: 1;
      align-items: center;
      justify-content: center;
    }
    a {
      color: #ffffff;
      font-weight: 400;
      text-decoration: none;
      line-height: 1;
      border-bottom: 1px solid transparent;
      transition: all ease-in-out .5s;
      &:hover,
      &:active {
        border-color: #ffffff;
      }
    }
  }
}

.mat-toolbar {
  padding: 25px 0px !important;
  margin-bottom: 35px;
}