<div class="container-fluid">
  <h1>Grid Example</h1>
  <hr>
  <div class="fx-row reverse">
    <div class="col-example fx-col-1 fx-center fx-middle"><div>fx-col-1</div></div>
    <div class="fx-col-offset-11"></div>
    <div class="col-example fx-col-2 fx-center fx-middle"><div>fx-col-2</div></div>
    <div class="fx-col-offset-10"></div>
    <div class="col-example fx-col-3 fx-center fx-middle"><div>fx-col-3</div></div>
    <div class="fx-col-offset-9"></div>
    <div class="col-example fx-col-4 fx-center fx-middle"><div>fx-col-4</div></div>
    <div class="fx-col-offset-8"></div>
    <div class="col-example fx-col-5 fx-center fx-middle"><div>fx-col-5</div></div>
    <div class="fx-col-offset-7"></div>
    <div class="col-example fx-col-6 fx-center fx-middle"><div>fx-col-6</div></div>
    <div class="fx-col-offset-6"></div>
    <div class="col-example fx-col-7 fx-center fx-middle"><div>fx-col-7</div></div>
    <div class="fx-col-offset-5"></div>
    <div class="col-example fx-col-8 fx-center fx-middle"><div>fx-col-8</div></div>
    <div class="fx-col-offset-4"></div>
    <div class="col-example fx-col-9 fx-center fx-middle"><div>fx-col-9</div></div>
    <div class="fx-col-offset-3"></div>
    <div class="col-example fx-col-10 fx-center fx-middle"><div>fx-col-10</div></div>
    <div class="fx-col-offset-2"></div>
    <div class="col-example fx-col-11 fx-center fx-middle"><div>fx-col-11</div></div>
    <div class="fx-col-offset-1"></div>
    <div class="col-example fx-col-12 fx-center fx-middle"><div>fx-col-12</div></div>
    <div class="fx-col-offset-0"></div>
  </div>
  <h1>Header Example</h1>
  <hr>
  <h1>Header H1</h1>
  <h2>Header H2</h2>
  <h3>Header H3</h3>
  <h4>Header H4</h4>
  <h5>Header H5</h5>
  <h6>Header H6</h6>
  <hr>
</div>
