.container-fluid,
.container {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  margin-right: auto;
  margin-left: auto;
  height: 100%;
  &.reverse {
    flex-direction: column-reverse;
  }
}

.container-fluid {
  padding-left: $outer-margin;
  padding-right: $outer-margin;
  max-width: 920px;
}

.fx-row {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-direction: row;
  flex: 0 1 auto;
  flex-wrap: wrap;
  box-sizing: border-box;
  margin-left: $gutter-width - 0.5rem;
  margin-right: $gutter-width - 0.5rem;
  &.no-spacing {
    margin-left: 0;
    margin-right: 0;
  }
  &.reverse {
    flex-direction: row-reverse;
  }
}

.fx-start {
  justify-content: flex-start;
  text-align: start;
}

.fx-center {
  justify-content: center;
  text-align: center;
}

.fx-end {
  justify-content: flex-end;
  text-align: end;
}

.fx-top {
  align-items: flex-start;
}

.fx-middle {
  align-items: center;
}

.fx-bottom {
  align-items: flex-end;
}

.fx-around {
  justify-content: space-around;
}

.fx-between {
  justify-content: space-between;
}

.fx-col,
.fx-col-1,
.fx-col-2,
.fx-col-3,
.fx-col-4,
.fx-col-5,
.fx-col-6,
.fx-col-7,
.fx-col-8,
.fx-col-9,
.fx-col-10,
.fx-col-11,
.fx-col-12,
.fx-col-offset-0,
.fx-col-offset-1,
.fx-col-offset-2,
.fx-col-offset-3,
.fx-col-offset-4,
.fx-col-offset-5,
.fx-col-offset-6,
.fx-col-offset-7,
.fx-col-offset-8,
.fx-col-offset-9,
.fx-col-offset-10,
.fx-col-offset-11,
.fx-col-offset-12 {
  box-sizing: border-box;
  flex: 0 0 auto;
}

.fx-col {
  flex-grow: 1;
  flex-basis: 0;
  max-width: 100%;
}

.fx-col-1 {
  flex-basis: 8.3333333%;
  max-width: 8.3333333%;
}

.fx-col-2 {
  flex-basis: 16.6666667%;
  max-width: 16.6666667%;
}

.fx-col-3 {
  flex-basis: 25%;
  max-width: 25%;
}

.fx-col-4 {
  flex-basis: 33.3333333%;
  max-width: 33.3333333%;
}

.fx-col-5 {
  flex-basis: 41.6666667%;
  max-width: 41.6666667%;
}

.fx-col-6 {
  flex-basis: 50%;
  max-width: 50%;
}

.fx-col-7 {
  flex-basis: 58.3333333%;
  max-width: 58.3333333%;
}

.fx-col-8 {
  flex-basis: 66.6666667%;
  max-width: 66.6666667%;
}

.fx-col-9 {
  flex-basis: 75%;
  max-width: 75%;
}

.fx-col-10 {
  flex-basis: 83.3333333%;
  max-width: 83.3333333%;
}

.fx-col-11 {
  flex-basis: 91.6666667%;
  max-width: 91.6666667%;
}

.fx-col-12 {
  flex-basis: 100%;
  max-width: 100%;
}

.fx-col-offset-0 {
  width: 0;
}

.fx-col-offset-1 {
  width: 8.3333333%;
}

.fx-col-offset-2 {
  width: 16.6666667%;
}

.fx-col-offset-3 {
  width: 25%;
}

.fx-col-offset-4 {
  width: 33.3333333%;
}

.fx-col-offset-5 {
  width: 41.6666667%;
}

.fx-col-offset-6 {
  width: 50%;
}

.fx-col-offset-7 {
  width: 58.3333333%;
}

.fx-col-offset-8 {
  width: 66.6666667%;
}

.fx-col-offset-9 {
  width: 75%;
}

.fx-col-offset-10 {
  width: 83.3333333%;
}

.fx-col-offset-11 {
  width: 91.6666667%;
}

.fx-col-offset-12 {
  width: 100%;
}
