@keyframes cssload-cube {
  0%,
  20% {
    opacity: 0;
  }
  40%,
  60% {
    opacity: 1;
  }
  80%,
  100% {
    opacity: 0;
  }
}

@-o-keyframes cssload-cube {
  0%,
  20% {
    opacity: 0;
  }
  40%,
  60% {
    opacity: 1;
  }
  80%,
  100% {
    opacity: 0;
  }
}

@-ms-keyframes cssload-cube {
  0%,
  20% {
    opacity: 0;
  }
  40%,
  60% {
    opacity: 1;
  }
  80%,
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes cssload-cube {
  0%,
  20% {
    opacity: 0;
  }
  40%,
  60% {
    opacity: 1;
  }
  80%,
  100% {
    opacity: 0;
  }
}

@-moz-keyframes cssload-cube {
  0%,
  20% {
    opacity: 0;
  }
  40%,
  60% {
    opacity: 1;
  }
  80%,
  100% {
    opacity: 0;
  }
}

#preloader-wrapper {
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  flex: 1;
  justify-content: center;
  align-items: center;
  background-color: #607d8b;
  img {
    width: 100%;
  }
  &:after {
    font-family: 'Roboto';
    font-weight: $font-bolder;
    color: #ffffff;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.4), 0 2px 4px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    font-size: 2em;
    font-weight: 700;
    content: 'SwagHub';
  }
  .preloader {
    width: 256px;
    height: 256px;
    position: relative;
  }
}


/* .loading screen is visible when app is not bootstraped yet, .my-app is empty */

nga-app:not(:empty) + #preloader-wrapper {
    display: none;
}
